#catalogMagnet .category-list-count {
  font-weight: bold;
}
#catalogMagnet .category-list-count:after {
  content: ' 篇';
}
#catalogMagnet .fa-book {
  padding-right: 5px;
}
#catalogMagnet .category-list-item {
  list-style-type: none;
}
#catalogMagnet figure.gallery-group p {
  font-weight: bold;
}
#catalogMagnet .color-card {
  width: 32.3% !important;
  height: 180px !important;
  margin: 0.3rem 0.5% !important;
}
@media screen and (max-width: 650px) {
  #catalogMagnet .color-card {
    width: 48% !important;
    height: 150px !important;
    margin: 0.3rem 1% !important;
  }
}
#catalogMagnet .magnetname:after {
  background: #fff !important;
}
#catalogMagnet figure .gallery-group.color-card {
  box-shadow: rgba(50,50,50,0.4) 3px 3px 18px 0px inset;
}
#catalogMagnet figcaption {
  background-image: linear-gradient(rgba(0,0,0,0.4) 25%, rgba(16,16,16,0) 100%);
  color: #fff;
  padding: 0.8rem;
}
#catalogMagnet > figure > figcaption > div > a,
#catalogMagnet > figure > figcaption > div > span {
  color: #fff;
  font-size: 1rem !important;
}
